

.body-custom{
    width: 100%;
    background: url(back1.jpg) repeat-x;
    background-size: 100%;
}

.custom-navbar {
    color: aliceblue;
}

.nav-link{
    color: aliceblue;
}

.main-block{
    padding-top: 15%;
    padding-bottom: 30%;
    color: aliceblue;
    text-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
} 

.dropdown-menu, .dropdown-item{
    background-color: transparent;
    color: aliceblue;
    border: none;
    justify-content: right;
}

.card {
    padding-top: 45%;
    background-color: transparent;
    color: rgb(60, 60, 60);
    border: none;
}

footer{
    background-color: black;
    color: antiquewhite;
}

.form-input {
    color: black;
}

.row {
    display: flex;
    justify-content: space-between;
}

.text-center {
    color: aliceblue;
}

.lb-lg{
    align-items: center;
    text-align: center;
    color: white;
    font-style: bold;
}