{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
  <h1 class="text-center mb-2 pb-2"><u>Предсказывание сахарного диабета</u></h1>

  <!-- Text Area -->
  <div class="container-castome mx-auto">
    <form action="{{ url_for('predict_diabetes') }}" method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class=flashes>
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
              {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
      <div class="form-group">
        <label class="lb-lg">Количество беременностей</label>
        <input
          type="text"
          class="form-control"
          name="pregnancies"
          placeholder="Количество беременностей"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Глюкоза</label>
        <input
          type="text"
          class="form-control"
          name="glucose"
          placeholder="Глюкоза (mg/dL)"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Давление крови</label>
        <input
          type="text"
          class="form-control"
          name="bloodpressure"
          placeholder="Давление крови (mmHg)"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Толщина кожи</label>
        <input
          type="text"
          class="form-control"
          name="skinthickness"
          placeholder="Толщина кожи (mm)"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Уровень инсулина</label>
        <input
          type="text"
          class="form-control"
          name="insulin"
          placeholder="Уровень инсулина (IU/mL)"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Индекс массы тела</label>
        <input
          type="text"
          class="form-control"
          name="bmi"
          placeholder="Индекс массы тела (kg/m²)"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Родословная диабета</label>
        <input
          type="text"
          class="form-control"
          name="dpf"
          placeholder="Родословная диабета"
        />
      </div>

      <div class="form-group">
        <label class="lb-lg">Возраст</label>
        <input
          type="text"
          class="form-control"
          name="age"
          placeholder="Возраст"
        />
      </div>

      <div class="text-center pt-3 mb-5 pb-4">
        <input type="submit" class="my-cta-button" value="Пройти тест" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
