{% extends "layout.html" %} {% block body %}
<br />
<div class="container">
  <h1 class="text-center"><u>Предсказывание сердечных заболеваний</u></h1>
</div>
<div class="container-castome mx-auto">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="flashes">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}
  <form action="{{ url_for('predict_heart') }}" method="POST">
    <div class="form-group">
      <label class="lb-lg">Возраст</label>
      <input
        type="text"
        class="form-control"
        name="age"
        placeholder="Возраст"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Пол</label>
      <select class="form-control" name="sex">
        <option value="0">Женщина</option>
        <option value="1">Мужчина</option>
      </select>
    </div>

    <div class="form-group">
      <label class="lb-lg">Боль в груди</label>
      <select class="form-control" name="chestpaintype">
        <option value="1">Да</option>
        <option value="0">Нет</option>
      </select>
    </div>

    <div class="form-group">
      <label class="lb-lg">Эстакады</label>
      <input
        type="text"
        class="form-control"
        name="trestbps"
        placeholder="Эстакады"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Холесторал в сыворотке крови</label>
      <input
        type="text"
        class="form-control"
        name="serumcholestoral"
        placeholder="Холесторал в сыворотке крови (mg/dl)"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Restecg</label>
      <input
        type="text"
        class="form-control"
        name="restecg"
        placeholder="Restecg"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Талах</label>
      <input
        type="text"
        class="form-control"
        name="thalach"
        placeholder="Талах"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Exang</label>
      <input
        type="text"
        class="form-control"
        name="exang"
        placeholder="Exang"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Oldpeak</label>
      <input
        type="text"
        class="form-control"
        name="oldpeak"
        placeholder="Oldpeak"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Slope</label>
      <input
        type="text"
        class="form-control"
        name="slope"
        placeholder="Slope"
      />
    </div>

    <div class="form-group">
      <label class="lb-lg">Thal</label>
      <input type="text" class="form-control" name="thal" placeholder="Thal" />
    </div>

    <div class="text-center mb-5 pb-4">
      <input type="submit" class="my-cta-button" value="Пройти тест" />
    </div>
  </form>
</div>

{% endblock %}
